*{
    padding:0px;
    margin:0px;

}
.one{
    display: flex;
    justify-content: space-between;
}
.two{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.three{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.in{
    display: flex;
    flex-direction: column;
}
label{
    top: 2px;

}
#button{
    align-items: center;
    margin-left: 375px;
    width: 12vw;
    margin-bottom: 50px; 
    height: 5vh;
    border-radius: 15px;
    padding-top: 10px;
}
main{
    background-color:#e0e0e0;
}
/* .mainbanner{
   
    
} */

#b1{
    /* border: 2px solid black;
    border-radius: 2%; */
    width: 16vw;
    padding: 5px;
    height: 5vh;

}
header{
    background-color: #cdc1ff;
}
.container{
    margin:0px;
}
